{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css" />
    <script src="https://unpkg.com/xterm/lib/xterm.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'stylesheet/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=a Atmospheric:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap"
    />
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="step-1">
      <h1>Step 1</h1>
      <form method="POST" class="form-step-1">
        {% csrf_token %}
        <label for="user_semester">Input Semester:</label>
        <input type="text" id="user_semester" name="user_semester" />
        <input type="submit" value="submit" />
      </form>
    </div>
  </body>
</html>
