<div class="navbar1">
  <div class="navbar-child">
    <div class="frame-container">
      <div class="schematics-container">
        <div class="schematics2">
            <a href={% url 'app1:home' %}>AUTO FRS</a>
        </div>
      </div>
    </div>
  </div>
  <div class="features-container">
    <div class="features1">
        <a href={% url 'app1:features' %}>Features</a>
    </div>
  </div>
  <div class="features-container">
    <div class="features1">
        <a href={% url 'app1:aboutUs' %}>Tentang Kami</a>
    </div>
  </div>
  <div class="component-7-group">
    <div class="component-71">
      <div class="features1">Masuk</div>
    </div>
    <div class="component-62">
      <div class="features1">Daftar</div>
    </div>
  </div>
</div>
